<main class="landing-page">
    <%- include('_hero') %>
    <%- include('_features') %>
    <%- include('_top_selling') %>
    <%- include('_browse_style') %>
    <%- include('_reviews') %>
    <%- include('_newsletter') %>
</main>
